<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<div class="container">
    <h2>Login</h2>
    <form>
        <label for="phone">Phone</label>
        <input type="tel" id="phone" placeholder="Enter Phone Number" required />

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter Password" required />

        <button type="submit">Login</button>
    </form>
</div>
</body>

</html>