<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      data-layout-decorate="~{fragments/layout}">
<head>

</head>
<body>

<div class="right_col" role="main" data-layout-fragment="content">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Step Transaction</div>
                <div class="panel-body">
                    <form method="post" th:action="@{/step-trans/create}" th:object="${stepTransReq}">

                        <!-- Template Row -->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="templateid">Template Id</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4">
                                <input placeholder="Template Id" id="templateid" readonly class="form-control"
                                       th:value="${tempDtlId}" type="text"/>
                            </div>

                            <div class="col-sm-4">
                                <select class="form-control" id="tempSteps" name="tempSteps">
                                    <option value="">-- Select Setup --</option>
                                    <option th:each="step : ${tempSteps}"
                                            th:text="${step.stepName}"
                                            th:value="${step.stepId}"></option>
                                </select>
                            </div>
                        </div>

                        <!-- Vehicle City & Class in ONE row -->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="vhCtyResList">Vehicle City</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" id="vhCtyResList"
                                        required th:field="${stepTransReq.vehicleCity}">
                                    <option value="">-- Select --</option>
                                    <option th:each="vhCty : ${vhCtyResList}"
                                            th:text="${vhCty.vhCtyName}"
                                            th:value="${vhCty.vhCtyName}"></option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <select class="form-control" id="vhCtyClsResList"
                                        required th:field="${stepTransReq.vehicleCityClass}">
                                    <option value="">-- Select --</option>
                                    <option th:each="vhCtyCls : ${vhCtyClsResList}"
                                            th:text="${vhCtyCls.vhCtyClassName}"
                                            th:value="${vhCtyCls.vhCtyClassName}"></option>
                                </select>
                            </div>
                        </div>

                        <!-- Vehicle No -->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="vehicleNo">Vehicle No</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input id="vehicleNo" class="form-control"
                                       placeholder="Enter Vehicle No" required
                                       th:field="${stepTransReq.vehicleNumber}" type="text">
                            </div>
                        </div>

                        <!-- Transport Name -->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="transportName">Transport Name</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input id="transportName" class="form-control"
                                       placeholder="Enter Transport Name" required
                                       th:field="${stepTransReq.transportName}" type="text">
                            </div>
                        </div>

                        <!-- Driver Name -->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="driverName">Driver Name</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input id="driverName" class="form-control"
                                       placeholder="Enter Driver" required
                                       th:field="${stepTransReq.driverName}" type="text">
                            </div>
                        </div>

                        <!-- Driver Phone -->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="driverPhone">Driver Phone</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input id="driverPhone" class="form-control"
                                       placeholder="Enter Driver Phone" required
                                       th:field="${stepTransReq.driverPhoneNo}" type="text">
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="form-group col-sm-12 Padding10px">
                            <button class="btn btn-primary"
                                    th:text="${stepTransReq.stepTransNo!= null ? 'Update' : 'Create'}"
                                    type="submit"></button>

                            <a class="btn cancel-btn" th:href="@{/step-trans}">Clear</a>
                        </div>

                    </form>


                    <div class="form-group col-sm-12">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <th>TransNo</th>
                            <th>LinesNo</th>
                            <th>VehicleNo</th>
                            <th>Driver Name</th>
                            <th>Step</th>
                            <th>Status</th>
                            <th>Actions</th>
                            <tbody>
                        <th:block th:each="s : ${stepTransResponseList.getContent()}">
                            <!-- Inner loop for each line under a transaction -->
                            <tr th:each="line, lineStat : ${s.stepTransLinesResponseList}">
                                <!-- Show these cells only once per transaction -->
                                <td th:if="${lineStat.index == 0}"
                                    th:rowspan="${#lists.size(s.stepTransLinesResponseList)}"
                                    th:text="${s.stepTransNo}"></td>
                                <td th:text="${line.stepTransLinesNo}"></td>

                                <td th:if="${lineStat.index == 0}"
                                    th:rowspan="${#lists.size(s.stepTransLinesResponseList)}"
                                    th:text="${s.vehicleNumber}"></td>

                                <td th:if="${lineStat.index == 0}"
                                    th:rowspan="${#lists.size(s.stepTransLinesResponseList)}"
                                    th:text="${s.driverName}"></td>

                                <td th:text="${line.stepName}"></td>
                                <td th:text="${line.stepStatus}"></td>

                                <td class="action-buttons">
                                    <a class="btn view-btn"
                                       th:href="@{'/step-trans/update-lines'(stepTransLinesNo=${line.stepTransLinesNo}, stepStatus='Complete')}"
                                       th:if="${line.stage} == 2">Approve</a>

                                    <a class="btn edit-btn"
                                       th:href="@{'/step-trans/update-lines'(stepTransLinesNo=${line.stepTransLinesNo}, stepStatus='WIP')}"
                                       th:if="${line.stage == 1} and ${line.stepStatus != 'WIP'}">WIP</a>

                                    <a class="btn pick-btn"
                                       th:href="@{'/step-trans/update-lines'(stepTransLinesNo=${line.stepTransLinesNo}, stepStatus='Pick')}"
                                       th:if="${line.stage} == 0 and ${line.stepStatus != 'Pick'}">Pick</a>

                                    <a class="btn delete-btn"
                                       th:href="@{'/step-trans/update-lines'(stepTransLinesNo=${line.stepTransLinesNo}, stepStatus='Reject')}">
                                        Reject
                                    </a>
                                </td>
                            </tr>
                        </th:block>
                            </tbody>
                            </thead>
                        </table>
                    </div>


                </div>
                <div class="panel-footer"></div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
