<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout}" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/steps-trans-dtl.css}">
    <link rel="stylesheet" th:href="@{/css/easyAutocomplete/easy-autocomplete.min.css}"/>
    <script th:src="@{/js/easyAutocomplete/autocomplete.js}"></script>
    <script th:src="@{/js/easyAutocomplete/jquery.easy-autocomplete.min.js}"></script>
    <script th:src="@{/js/stepTrans/step-trans-dtl.js}"></script>
    <title></title>
</head>


<!--private Long scheduleNo;-->
<body>
<div class="right_col" data-layout-fragment="content" role="main">
    <div class="row">
        <div class="col-sm-12">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Step Transaction Details</div>
                <div class="panel-body">
                    <form method="post"
                          th:action="@{'/step-trans-dtl/create/'
                                        + ${pageId} + '/'
                                        + ${tempDtlId} + '/'
                                        + ${orgId} + '/'
                                        + ${invOrgId} + '/'
                                        + ${stepTransId}}"
                          th:object="${stepTransDtlReq}">
                        <input class="form-control" id="stepTransDtlId" placeholder="StepTransDtl Id" readonly
                               th:field="*{stepTransDtlId}" type="hidden"/>

                        <input class="form-control" id="stepTransId" placeholder="StepTrans Id" readonly
                               th:field="*{stepTransId}" type="hidden"/>

                        <input class="form-control" id="orgId" readonly
                               th:value="${orgId}" type="hidden"/>
                        <input class="form-control" id="invOrgId" readonly
                               th:value="${invOrgId}" type="hidden"/>

                        <!-- CustName Name -->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="custName">Customer Name</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <!--                                th:readonly="${stepSetupDetailsResponse.serialNo != 1}"-->
                                <input class="form-control" id="custName"
                                       placeholder="Enter Customer Name"
                                       th:field="*{custName}"
                                       type="text">
                                <input class="form-control" id="custAccountId"
                                       placeholder="Enter Customer Account Id"
                                       th:field="*{custAccountId}"
                                       type="hidden">
                            </div>
                        </div>

                        <!-- DeliveryNo-->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="deliveryNo">Delivery No</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       id="deliveryNo"
                                       placeholder="Enter Delivery No"
                                       th:field="*{orderNumber}"
                                       type="text">

                            </div>
                        </div>

                        <!-- Schedule No-->
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label" for="scheduleNo">Schedule No</label>
                            <div class="col-sm-1">
                                <b>:</b>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       id="scheduleNo"
                                       placeholder="Enter Schedule No"
                                       th:field="*{scheduleNo}"
                                       type="text">
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="form-group col-sm-12 Padding10px">
                            <button class="btn btn-primary"
                                    th:text="${stepTransDtlReq.stepTransDtlId!= null ? 'Update' : 'Create'}"
                                    type="submit"></button>

                            <!--                            <a class="btn cancel-btn"-->
                            <!--                               th:href="@{'/step-trans-dtl/'-->
                            <!--                                        + ${pageId} + '/'-->
                            <!--                                        + ${tempDtlId} + '/'-->
                            <!--                                        + ${orgId} + '/'-->
                            <!--                                        + ${invOrgId} + '/'-->
                            <!--                                        + ${stepTransId}}">-->
                            <!--                                Clear-->
                            <!--                            </a>-->
                            <a class="btn btn-default"
                               th:href="@{'/step-trans/'+${pageId}+'/'+${tempDtlId}}">Back</a>
                        </div>

                    </form>

                    <div class="form-group col-sm-12">
                        <table class="table table-hover table-bordered custom-gray-table text-dark text-center">
                            <thead>
                            <tr>
                                <th>Trans Details No</th>
                                <th>Trans No</th>
                                <th>Customer Name</th>
                                <th>Schedule No</th>
                                <th>Order Number</th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="line: ${stepTransDtlList}">
                                <td th:text="${line.stepTransDtlNo}"></td>
                                <td th:text="${line.stepTransNo}"></td>
                                <td th:text="${line.custName}"></td>
                                <td th:text="${line.scheduleNo}"></td>
                                <td class="text-center" th:text="${line.orderNumber}"></td>
                                <td class="text-center">

                                    <a class="btn btn-success"
                                       th:href="@{'/step-trans-dtl/update-dtl/'
                                                + ${pageId} + '/'
                                                + ${tempDtlId} + '/'
                                                + ${orgId} + '/'
                                                + ${invOrgId} + '/'
                                                + ${line.stepTransId} + '/'
                                                + ${line.stepTransDtlId}}">
                                        <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a class="btn btn-success"
                                       th:href="@{'/step-trans-dtl/stepTransDtlLns/'
                                                + ${pageId} + '/'
                                                + ${tempDtlId} + '/'
                                                + ${orgId} + '/'
                                                + ${invOrgId} + '/'
                                                +${stepTransId}+'/'
                                                + ${line.stepTransDtlId}}">
                                        <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>
                                    </a>


                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
